<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body class="d-flex flex-column min-vh-100">

    {% include "navbar.html" %}

    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="card" style="width: 25rem;">
            <img src="https://images.unsplash.com/photo-1782927510642-8bf07656edd2?q=80&w=600&auto=format&fit=crop"
                 class="card-img-top"
                 alt="Reserved"
                 loading="lazy">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{message}}</p>
                <a href="{% url 'booking_manager:new_booking' %}" class="btn btn-primary stretched-link">Book Now</a>
            </div>
        </div>
    </div>
</body>
<footer>
        <p>{% include "footer.html" %}</p>
</footer>
</html>