<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
    {% include "navbar.html" %}

    <div class="container mt-4">
        {% for service in serv %}
            <div class="row g-0 bg-body-secondary position-relative mb-4">
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="{{ service.image }}"
                         class="w-100"
                         alt="{{ service.name }}">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">Name: {{ service.name }}</h5>
                    <p>
                        Duration: {{ service.duration }} min.<br>
                        Price: {{ service.price }} $.<br>
                        Category: {{ service.category }}
                    </p>
                    <a href="{% url 'booking_manager:new_booking' %}" class="stretched-link">Book Now</a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
<footer>
    <p>{% include "footer.html" %}</p>
</footer>
</html>